.profile-container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #4c4c4c, #3b3b3b, #2c2c2c);
    height: 250px;


}

.main-container a {
    margin-left: 44px;
    align-items: left;
    display: flex;
    color: white;
    font-family: 'Circular Std', sans-serif;
}

.profile-pic-container {
    width: 200px;
    height: 200px;
    margin-right: 45px;
    margin-right: 70px;
    margin-top: 70px;
}

.profile-pic {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 44px;
    margin-top: 20px;
    border: 2px solid #5050;
}

.User-Name {
    font-size: 90px;
    color: blanchedalmond;
    font-family: 'Circular Std', sans-serif;
    display: block;
    margin-left: 35px;

}

p {
    font-size: 12px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 480px;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Circular Std', sans-serif;
    font-style: initial;
    color: #ffffff;

}

.modal-content label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 200%;
    margin-left: 29rem;
    margin-top: -1rem;
}



.input {
    background-color: #3E3E3E;
}

.button-link-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

a {
    text-align: left;
    margin-right: 8rem;
}

.close-btn {
    display: flex;
    justify-content: space-between;
}

.details {
    text-align: left;
    font-family: 'Circular Std', sans-serif;
    margin-right: 7rem;
    margin-left: 1rem;

    display: flex;
}

.close {
    margin-left: 9rem;
    font-family: 'Circular Std', sans-serif;

}

.parent-div {
    display: flex;
    flex-direction: row;
}


.modal-content input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.modal-content button {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 2rem;

}

/*aqui*/



body {
    background-image: linear-gradient(to bottom, #202020, #171717, #121212);
    font-family: 'Montserrat', sans-serif;
}


.main-container {
    margin-left: 2px;
    margin-bottom: 200px;
    font-size: 60px;

}

footer {
    background-color: linear-gradient(to bottom, #171717 #121212);
    color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.line {
    border-top: 1px solid #2A2A2A;
    margin-bottom: 40px;
}